<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Swagger</title>
</head>
<body>
<h1>Swagger + API REST</h1>

<nav>
    <h3>Links</h3>
    <br>
    <ul>
        <li>
            <a href="http://localhost:8080/spring-course/swagger/documentation/swagger-ui/">Api documentation</a>
        </li>
    </ul>
    <br>
    <ul>
        <li>
            <a href="http://localhost:8080/spring-course/swagger/pcs/show/">Show Pcs</a>
        </li>
    </ul>
</nav>
</body>
</html>

